.icon-Container{
    margin-top: 5px;
    margin-bottom: 15px;
}
.text-Area{
    height: 100%;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}